/* Naruto CSS - Colours and backgrounds for common.css */

html, body {
	color: #333333;
	background-color: #373737;
}

h1 {
	color: #FFFFFF;
}

h2 {
	color: #da0000;
}

h3 {
	border-bottom-color: #CCCCCC;
	color: #da0000;
}

hr {
	border-color: #FFFFFF;
	border-top-color: #da0000;
}

hr.dashed {
	border-top-color: #da0000;
}

/* Naruto CSS - Round cornered boxes and backgrounds */

.headerbar {
	background-color: transparent;
	color: #FFFFFF;
}

.navbar {
	color: #FFFFFF;
	background-color: #DA0000;
}

.forabg {
	background-color: #DA0000;
}

.forumbg {
	background-color: #DA0000;
}

.panel {
	background-color: #EFEDED;
	color: #28313F;
}

.post:target .content {
	color: #000000;
}

.post:target h3 a {
	color: #000000;
}

.bg1	{ background-color: #E0DFDF; }
.bg2	{ background-color: #EFEDED; }
.bg3	{ background-color: #E0DFDF; }

.ucprowbg {
	background-color: #DCDEE2;
}

.fieldsbg {
	background-color: #E7E8EA;
}

/* Naruto CSS - Horizontal lists */

ul.navlinks {
	border-bottom-color: #FFFFFF;
}

/* Naruto CSS - Table styles */

table.table1 thead th {
	color: #FFFFFF;
}

table.table1 tbody tr {
	border-color: #BFC1CF;
}

table.table1 tbody tr:hover, table.table1 tbody tr.hover {
	background-color: #FFFFFF;
	color: #000000;
}

table.table1 td {
	color: #536482;
}

table.table1 tbody td {
	border-top-color: #FAFAFA;
}

table.table1 tbody th {
	border-bottom-color: #000000;
	color: #333333;
	background-color: #FFFFFF;
}

table.info tbody th {
	color: #000000;
}

/* Naruto CSS - Pagination */

.pagination span strong {
	color: #FFFFFF;
	background-color: #E21E1A;
	border-color: #000000;
}

.pagination span a, .pagination span a:link, .pagination span a:visited {
	color: #5C758C;
	background-color: #ECEDEE;
	border-color: #B4BAC0;
}

.pagination span a:hover {
	border-color: #000;
	background-color: #E21E1A;
	color: #FFFFFF;
}

.pagination span a:active {
	color: #5C758C;
	background-color: #ECEDEE;
	border-color: #B4BAC0;
}

/* Naruto CSS - Pagination in viewforum for multipage topics */

.row .pagination span a, li.pagination span a {
	background-color: #FFFFFF;
}

.row .pagination span a:hover, li.pagination span a:hover {
	background-color: #E21E1A;
}

/* Naruto CSS - Miscellaneous styles */

.copyright {
	color: #555555;
}

.error {
	color: #BC2A4D;
}

.reported {
	background-color: #F7ECEF;
}

li.reported:hover {
	background-color: #ECD5D8 !important;
}

div.rules {
	background-color: #ECD5D8;
	color: #BC2A4D;
}

p.rules {
	background-color: #ECD5D8;
	background-image: none;
}

/* Naruto CSS - Colours and backgrounds for links */

a:link	{ color: #000000; }
a:visited	{ color: #000000; }
a:hover	{ color: #000000; }
a:active	{ color: #368AD2; }

/* Naruto CSS - Links on gradient backgrounds */

#search-box a:link, .navbg a:link, .forumbg .header a:link, .forabg .header a:link, th a:link {
	color: #FFFFFF;
}

#search-box a:visited, .navbg a:visited, .forumbg .header a:visited, .forabg .header a:visited, th a:visited {
	color: #FFFFFF;
}

#search-box a:hover, .navbg a:hover, .forumbg .header a:hover, .forabg .header a:hover, th a:hover {
	color: #A8D8FF;
}

#search-box a:active, .navbg a:active, .forumbg .header a:active, .forabg .header a:active, th a:active {
	color: #C8E6FF;
}

/* Naruto CSS - Links for forum/topic lists */

a.forumtitle {
	color: #000000;
}

a.forumtitle:hover {
	color: #000000;
}

a.forumtitle:active {
	color: #105289;
}

a.topictitle {
	color: #000000;
}

a.topictitle:hover {
	color: #000000;
}

a.topictitle:active {
	color: #105289;
}

/* Naruto CSS - Post body links */

.postlink {
	color: #368AD2;
	border-bottom-color: #368AD2;
}

.postlink:visited {
	color: #5D8FBD;
	border-bottom-color: #5D8FBD;
}

.postlink:active {
	color: #368AD2;
}

.postlink:hover {
	background-color: #D0E4F6;
	color: #0D4473;
}

.signature a, .signature a:visited, .signature a:hover, .signature a:active {
	background-color: transparent;
}

.signature {
    margin-top: 1.5em;
    padding-top: 0.2em;
    font-size: 1.1em;
    border-top: 2px dashed #73797C;
    clear: left;
    line-height: 140%;
    overflow: hidden;
    width: 100%;
}

/* Naruto CSS - Profile links */

.postprofile a:link, .postprofile a:visited, .postprofile dt.author a {
	color: #105289;
}

.postprofile a:hover, .postprofile dt.author a:hover {
	color: #D31141;
}

.postprofile a:active {
	color: #105289;
}

/* Naruto CSS - Profile searchresults */

.search .postprofile a {
	color: #105289;
}

.search .postprofile a:hover {
	color: #D31141;
}

.pm-message .attachbox {
	background-color: #F2F3F3;
}

.attachbox dd {
	border-top-color: #C9D2D8;
}

.attachbox p {
	color: #666666;
}

.attachbox p.stats {
	color: #666666;
}

.attach-image img {
	border-color: #999999;
}


/* Naruto CSS - Colours and backgrounds for content.css */

ul.forums {
    background-color: #ffffff;
    background-image: none;
}

ul.topiclist li {
	color: #333333;
}

ul.topiclist dd {
	border-left-color: #CCCCCC;
}

.rtl ul.topiclist dd {
	border-right-color: #CCCCCC;
	border-left-color: transparent;
}

li.row {
	border-top-color:  #FFFFFF;
	border-bottom-color: #CCCCCC;
}

li.row strong {
	color: #000000;
}

li.row:hover {
	background-color: #FFFFFF;
}

li.row:hover dd {
	border-left-color: #da0000;
}

.rtl li.row:hover dd {
	border-right-color: #DA0000;
	border-left-color: transparent;
}

li.header dt, li.header dd {
	color: #FFFFFF;
}

/* Naruto CSS - Forum list column styles */

ul.topiclist dd.searchextra {
	color: #333333;
}

/* Naruto CSS - Post body styles */

.postbody {
	color: #333333;
}

/* Naruto CSS - Content container styles */

.content {
	color: #333333;
}

.content h2, .panel h2 {
	color: #115098;
	border-bottom-color:  #CCCCCC;
}

dl.faq dt {
	color: #333333;
}

.posthilit {
	background-color: #F3BFCC;
	color: #BC2A4D;
}

/* Naruto CSS - Post signature */

.signature {
	border-top-color: #CCCCCC;
}

/* Naruto CSS - Post noticies */

.notice {
	border-top-color: #CCCCCC;
}

/* Naruto CSS - BBCode styles */

/* Quote block */
blockquote {
	background-color: #EBEADD;
	border-color: #DBDBCE;
}

blockquote blockquote {
	/* Nested quotes */
	background-color: #EFEED9;
}

blockquote blockquote blockquote {
	/* Nested quotes */
	background-color: #EBEADD;
}

/* Code block */
dl.codebox {
	background-color: #FFFFFF;
	border-color: #C9D2D8;
}

dl.codebox dt {
	border-bottom-color: #CCCCCC;
}

dl.codebox code {
	color: #2E8B57;
}

.syntaxbg		{ color: #FFFFFF; }
.syntaxcomment	{ color: #FF8000; }
.syntaxdefault	{ color: #0000BB; }
.syntaxhtml		{ color: #000000; }
.syntaxkeyword	{ color: #007700; }
.syntaxstring	{ color: #DD0000; }

/* Naruto CSS - Attachments */

.attachbox {
	background-color: #FFFFFF;
	border-color: #C9D2D8;
}

.pm-message .attachbox {
	background-color: #F2F3F3;
}

.attachbox dd {
	border-top-color: #C9D2D8;
}

.attachbox p {
	color: #666666;
}

.attachbox p.stats {
	color: #666666;
}

.attach-image img {
	border-color: #999999;
}

/* Inline image thumbnails */

dl.file dd {
	color: #666666;
}

dl.thumbnail img {
	border-color: #666666;
	background-color: #FFFFFF;
}

dl.thumbnail dd {
	color: #666666;
}

dl.thumbnail dt a:hover {
	background-color: #EEEEEE;
}

dl.thumbnail dt a:hover img {
	border-color: #368AD2;
}

/* Avatar gallery */
#gallery label {
	background-color: #FFFFFF;
	border-color: #CCCCCC;
}

#gallery label:hover {
	background-color: #EEEEEE;
}

/* Naruto CSS - Posting page styles */

#message-box textarea {
	color: #333333;
	background: #FFFFFF url(./images/bg_msbox.gif) no-repeat bottom center;
}
